services:
  app:
    platform: linux/amd64
    build:
      context: .
      args:
        NODE_ENV: ${NODE_ENV:-production} # 从命令行参数中读取，默认值为 production
        SERVICE_PORT: ${SERVICE_PORT:-9000} # 从环境变量中读取，默认值为 9000
    image: ${IMAGE_NAME} # 使用外部传递的镜像名称  # 动态设置镜像名称
    ports:
      - '${SERVICE_PORT:-9000}:${SERVICE_PORT:-9000}' # 设置默认值为 9000
    environment:
      NODE_ENV: ${NODE_ENV:-production} # 从外部环境变量中读取，默认值为 production
